<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Dungeon</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <h1>The Dungeon</h1>
    <div id="stats"></div>
    <div id="enemy"></div>
    <div id="enemyStats"></div>
    <div id="actions">
        <h2>Actions:</h2>
        <button onclick="attack()">Attack</button>
        <button onclick="window.location.href='http://127.0.0.1:5000/'; localStorage.setItem('Level', 1);">Exit</button>
    </div>

    <script src="/static/game.js"></script>
</body>

</html>